<div class="dashboard">
  <div class="search">
    <form [formGroup]="searchProductsForm" class="search-form">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Enter keyword to search</mat-label>
        <input matInput formControlName="searchInput">
        <button mat-button matSuffix color="primary" [disabled]="searchProductsForm.invalid">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>
@if (products.length) {
  <mat-grid-list cols="4" rowHeight="2:3">
    @for (product of products; track product.id) {
      <mat-grid-tile>
        <app-product [product]="product"
                     (onDelete)="deleteProductById(product.id)"></app-product>
      </mat-grid-tile>
    }
  </mat-grid-list>
}
@if (api.hasError) {
  <app-alert-error [message]="'Products not found!'" />
}
