.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .product-card {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;

    .product-image {
      text-align: center;
      margin-bottom: 10px;
      img{
        width: 100px;
        height: auto;
      }
    }

    .product-details {
      h2 {
        margin-bottom: 5px;
      }

      .description, .price {
        margin-bottom: 5px;
      }
      .actions {
        position: absolute;
        bottom: 15px;
        left: 10px;
        right: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
