.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .product-info {
    display: flex;
    align-items: center;

    .product-image {
      margin-right: 20px;

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }

    .product-details {
      flex: 1;

      .item-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item-name {
          font-weight: bold;
          margin-bottom: 5px;

          &.highlight {
            color: red; // Customize highlight color as needed
          }
        }

        .item-price {
          margin-right: 10px;
        }

        .quantity-controls {
          display: flex;
          align-items: center;

          button {
            background: transparent;
            border: none;
            cursor: pointer;
          }

          .quantity {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

.total-price {
  margin-top: 20px;
  font-weight: bold;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

.place-order-btn {
  margin-top: 20px;
}
