.product-card {
  width: 300px;
  height: 450px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;

  mat-card-content {
    display: flex;
    flex-direction: column;
    .product-image {
      flex: 0 0 50%;
      margin-bottom: 10px;

      img {
        width: 120px;
        height: auto;
        object-fit: cover;
      }
    }

    .product-details {
      flex: 1;

      .product-name {
        margin: 0 0 8px 0;
      }

      .product-description {
        margin-bottom: 10px;
      }

      .product-info {
        display: flex;
        flex-direction: column;

        .info-row {
          display: flex;
          align-items: center;
          margin-bottom: 4px;

          .info-label {
            font-weight: bold;
            margin-right: 8px;
          }
        }
      }
    }
  }

  mat-card-footer {
    display: flex;
    justify-content: space-between;
    button {
      bottom: 10px;
    }
  }
}
