.card-list {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

mat-card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

mat-card-header {
  background-color: #f5f5f5;
}

mat-card-content {
  padding: 16px;
}

mat-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .review {
    display: flex;
  }
}
