/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-snackbar {
  background-color: #f44336 !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
