/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}

.error-snackbar {
  background-color: #f44336 !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  width: 400px;
  margin: 10px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0; /* Rounded corners for the top of the image */
}

.product-details {
  padding: 16px;
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  margin-bottom: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-label {
  font-weight: bold;
}

.info-value {
  color: #333;
}
mat-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.update-button,
.delete-button{
  width: 100%;
  color: #fff;
}

.search-container {
  display: flex;
  justify-content: end;
  padding: 20px 60px;
  form {
    width: 300px;
  }
}

